.row
  .col-md-12
    .filter
      = link_to 'Alphabetical asc', articles_url(params.merge(ordering: 'asc'))
      = link_to 'Alphabetical desc', params.merge(ordering: 'desc')
      .filter__filter-form
        = form_tag articles_path, method: :get, class: 'filter__filter-form__form' do
          .filter__filter-form__comments-number
            = label_tag :comments_number, nil, class: 'filter__filter-form__comments-number-label'
            = text_field_tag :comments_number, @filter.comments_number
          .filter__filter-form__tags-number
            = label_tag :tags_number, nil, class: 'filter__filter-form__tags-number-label'
            = text_field_tag :tags_number, @filter.tags_number
          .filter__filter-form__submit
            = submit_tag :Submit, class: 'filter__filter-form__submit'
