.container
  .row
    .col-md-6
      .artile
        .article-post
          %p
            Tags:
            - @article.tags.each do |tag|
              = link_to tag.name, tag_path(tag)
          %h1.article-post-title= @article.title
          %p.article-post-body= @article.body
          .article-post-links
            %p.btn{:class => ".btn-default"}= link_to 'articles', articles_path
            %p.btn{:class => ".btn-default"}= link_to 'delete', article_path(@article), method: :delete
            %p.btn{:class => ".btn-default"}= link_to 'edit', 	edit_article_path(@article)
        .article-comments
          = render partial: 'comments/form'
          %h3
            List of comment (#{@article.comments.size})
          = render partial: 'articles/comment', collection: @article.comments
